%h4 Hospital Chris
= link_to 'New Institution', new_institution_path
%br
- @institutions.each do |institution|
  %br
  = link_to institution.name, institution_path(institution)
  = institution.location
  / =workflow_status(patient)

  / = link_to 'Show Institution', institution_path(institution)
  = link_to 'Edit Institution', edit_institution_path(institution)
  = link_to 'Delete Institution', institution_path(institution), method: :delete