%h4 Hospital Chris
= link_to 'New Institution', new_institution_path
%ul
- @institutions.each do |institution|
  %li
  = institution.institution_name
  = institution.location
  = institution.phone_number
  = link_to 'Show Institution', institution_path(institution)
  = link_to 'Edit Institution', edit_institution_path(institution)
  = link_to 'Delete Institution', institution_path(institution), method: :delete