= @assignment.title
%br
= @assignment.body
%br
= link_to "Enter Submission", new_location_cohort_assignment_submission_path(@location, @cohort, @assignment)
/ = link_to "Add Comment", new_comment_location_cohort_assignment_path(@location, @cohort, @assignment)

%h3 Add Comment to Assignment

/ form_for 
- @assignment.comments.each do |x|
  = x.comment
  %br

= form_for @create_comment, url: create_comment_location_cohort_assignment_path(@location, @cohort, @assignment) do |f|
  = f.label :comment
  %br
  = f.text_area :comment
  %br
  = f.submit 'Save'

%br
- @assignment.submissions.each do |x|
  = link_to "#{x.name}", location_cohort_assignment_submission_path(@location, @cohort, @assignment, x)
  |
  = link_to "Edit", edit_location_cohort_assignment_submission_path(@location, @cohort, @assignment, x)
  |
  = link_to "Delete", location_cohort_assignment_submission_path(@location, @cohort, @assignment, x), method: :delete
  %br
/ = link_to "Show Submission", location_cohort_assignment_submission_path(@location, @cohort, @assignment, @submission)
%br
= link_to "Go Back To Cohort", location_cohort_path(@location, @cohort)


/ = @assignment.name
/ - @cohort.assignments.each do |x|
/   = link_to "#{x.title}", location_cohort_assignment_path(@location, @cohort, x)
/   = x.body
/   %br