= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :item_name
    = f.text_field :item_name
  .field
    = f.label :urgency_level
    = f.select :urgency_level, options_for_select(Item::URGENCY_LEVEL, @item.urgency_level), include_blank: "--- Select ---"

  .field
    - @locations.each do |location|
      = check_box_tag "item[location_ids][]", location.id, @item.locations.map(&:id).include?(location.id), id: "location_#{location.id}"
      = label_tag "location_#{location.id}", location.name
  .actions
    = f.submit 'Save'
