= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :item_name
    = f.text_field :item_name
  .field
    = f.label :urgency_level
    = f.text_field :urgency_level
  .field
    = f.label :location_id
    = f.number_field :location_id
  .actions
    = f.submit 'Save'
