%table
  %tr
    %th Item name
    %th Urgency level
    / %th Location
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.item_name
      %td= item.urgency_level
      / %td= item.location_id
      %td.workflow_state= display_availability(item)
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
