%p#notice= notice

%p
  %b Item name:
  = @item.item_name
%p
  %b Urgency level:
  = @item.urgency_level
%p
  %b Location:
  - @locations.each do |location|
    = location.name

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
