<%= blogit.id %>
<%= blogit.blog_title %>
<%= blogit.blog_content %>
<a href="/edit_post/<%= blogit.id %>">Edit</a>
<br>
<form action="/delete_person/<%=blogit.id %>" method="post"> 
  <input type="submit" value="Delete">
</form>