%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "../../assets/ico/favicon.ico", :rel => "shortcut icon"}
    %title Active List App Narrow Jumbotron Template for Bootstrap
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
    / Bootstrap core CSS
    / %link{:href => "../../dist/css/bootstrap.min.css", :rel => "stylesheet"}
    / / Custom styles for this template
    / %link{:href => "jumbotron-narrow.css", :rel => "stylesheet"}
    / Just for debugging purposes. Don't actually copy this line!
    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    %script{src:"https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src:"https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
  %body
    .container
      .header
        = render 'layouts/navbar'

      %p.notice= notice
      %p.alert= alert
      = yield
      .footer
        %p &copy; Company 2014
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster