<h3>Here is the Movie!</h3>

  <%= @movie.name %>
  <br>
  <%= @movie.year %>
   <br@>
  <%= @movie.rating %>
   <br>
  <%= @movie.genre %>
   <br>
  <%= @movie.criticrating %>
   <br>
  <%= @movie.description %>
  <br>
  
<%= link_to "Home", root_path %>