= link_to "Cancel", root_path
%br
= @institution.name
%br
= @institution.location
%br
%hr
= link_to "New Patient", new_institution_patient_path(@institution)
%ul 
  Patient
  - @patients.each do |patient|
    %li
      = link_to patient.name, institution_patient_path(@institution, patient)
      |
      = patient.description
      / |
      / = workflow_status(@institution.patient)
      |
      = link_to "Edit", edit_institution_patient_path(@institution, patient)
      |
      = link_to "Delete", institution_patient_path(@institution, patient), method: :delete
      | 
      = link_to "New Medication", new_institution_patient_medication_path(@institution,patient)
      